@model RoleManage
@{
    ViewData["title"] = "Cập nhật Role";
}

<div class="bg-light rounded p-4 me-4 mt-4">
    <h5 class="mb-4">Cập nhật Role</h5>
    <h6 class="mb-4">@Model.Name</h6>
    <form method="post" asp-action="Update" asp-controller="Role" asp-area="Manage">
        <div asp-validation-summary="All"></div>
        <input asp-for="Id" hidden />
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Tên Role</label>
            <input asp-for="Name" class="form-control">
            <div class="form-text text-danger">
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Mô tả</label>
            <input asp-for="Description" class="form-control">
            <div class="form-text text-danger">
                <span asp-validation-for="Description"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button><br /><br />
        <a href="/manage/role" class="text-primary">Hủy bỏ</a>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}