@model UserManage
@{
    ViewData["title"] = "Đổi mật khẩu User";
}

<div class="bg-light rounded p-4 me-4 mt-4">
    <h5 class="">Đổi mật khẩu User</h5>
    <h6 class="mb-4">@Model.UserName</h6>
    <form method="post" asp-action="ChangePassword" asp-controller="User" asp-area="Manage">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="UserId" hidden/>
        <input asp-for="UserName" hidden/>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control">
            <div class="form-text text-danger">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">ConfirmPassword</label>
            <input asp-for="ConfirmPassword" class="form-control">
            <div class="form-text text-danger">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật</button><br /><br />
        <a href="/manage/user" class="text-primary">Hủy bỏ</a>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}